---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import React from "./icons/React.astro";
import HtmlIcon from "./icons/HtmlIcon.astro";
import CSSIcon from "./icons/CSSIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  HTML: {
    name: "html",
    class: "bg-black text-white",
    icon: HtmlIcon,
  },
  CSS: {
    name: "css",
    class: "bg-[#003159] text-white",
    icon: CSSIcon,
  },
  JavaSCRIPT: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: JavaScriptIcon,
  },
  Astro: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
};
const PROJECTS = [
  {
    title: "Desarrollador Fullstack - Proyecto GuitarrasLA",
    description:
      "Me complace compartir mi experiencia en el emocionante proyecto Fullstack GuitarrasLA, un hito significativo en mi carrera como desarrollador. Este proyecto, desarrollado con Next.js y CSS, destaca por su enfoque en la eficiencia y la usabilidad.",
    link: "https://guitarra-la-nextjs-lxoo5ufvu-xfelipe41.vercel.app/",
    github: "https://github.com/XFelipe41/GuitarraLA_Nextjs",
    image: "/Proyectos/GuitarLA.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.JavaSCRIPT],
  },
  {
    title: "Bienes Raices",
    description:
      "Este proyecto consiste en la creación de una página web inicialmente estática. Se utiliza HTML para definir la estructura y contenido de la página, mientras que CSS se utiliza para dar estilo y presentación. Sass se utiliza para mejorar la escritura de CSS con características adicionales.",
    link: "https://bines-raicesfc.netlify.app/",
    github: "https://github.com/XFelipe41/BienesRaices",
    image: "/Proyectos/BR.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaSCRIPT],
  },
  {
    title: "Blog de café con Consejos y Cursos",
    description:
      "Diseñé y desarrollé un blog de café utilizando Astro HTML, CSS y Normalize. Proporcioné contenido informativo, consejos y cursos para entusiastas del café. El sitio es responsivo y ofrece una experiencia de usuario atractiva y consistente en todos los dispositivos.",
    link: "https://blogcafe-1841822.netlify.app/",
    github: "https://github.com/XFelipe41/BlogDeCafe",
    image: "/Proyectos/BlocCafe.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaSCRIPT],
  },
  {
    title: "Cotiza Criptomonedas al Instante",
    description:
      "un cotizador de criptomonedas construido con React y Vite. Este cotizador utiliza una API externa para recibir datos en tiempo real y mostrarlos de forma precisa y eficiente. Aptitudes: React.js · React Hooks · Hojas de estilos en cascada (CSS) · JavaScript · Pruebas API",
    link: "https://criptoalinstante.netlify.app/",
    github: "https://github.com/XFelipe41/CotizadorDeCriptomonedas",
    image: "/Proyectos/Divisas.png",
    tags: [TAGS.REACT, TAGS.JavaSCRIPT, TAGS.TAILWIND],
  },
  {
    title: "Clon Landing Page Tesla",
    description:
      "Este proyecto es una réplica de la página de inicio de Tesla, desarrollado como parte del curso de Astro impartido por Midudev. Utilizando tecnologías modernas como HTML, JavaScript, Astro y Tailwind CSS, he creado una versión fiel y funcional del sitio web de Tesla, destacando tanto su diseño limpio y minimalista como su rendimiento optimizado.",
    link: "https://landing-pega-clon-tesla-fc.netlify.app/",
    github: "https://github.com/XFelipe41/Landing-Pega-Clon-Tesla",
    image: "/Proyectos/Tesla.png",
    tags: [TAGS.Astro, TAGS.JavaSCRIPT, TAGS.TAILWIND],
  },
  {
    title: "Planificador de Gastos",
    description:
      "Planificador de Gastos Realizado con React y vite te ayudará a optimizar tus finanzas de manera eficiente y te permitirá mantener un control adecuado de tus gastos",
    link: "https://planificador-d-gastos.netlify.app/",
    github: "https://github.com/XFelipe41/PDeGastos",
    image: "/Proyectos/Planificador.png",
    tags: [TAGS.REACT, TAGS.JavaSCRIPT, TAGS.TAILWIND],
  },
  {
    title: "Space x Lanzamientos",
    description:
      "Este sitio web te permite explorar todos los lanzamientos de SpaceX con detalle. 💫 Usando tecnologías modernas como Astro, Tailwind CSS y la API de SpaceX, he creado una experiencia única inspirada en el curso de Astro de Midudev.",
    link: "https://lancamientos-api-spacex.netlify.app/",
    github: "https://github.com/XFelipe41/SpaceX-Api-midulive",
    image: "/Proyectos/Space.png",
    tags: [TAGS.Astro, TAGS.JavaSCRIPT, TAGS.TAILWIND],
  },
  {
    title: "Gestor de citas veterinarias",
    description:
      "El gestor de citas veterinarias en React con Tailwind CSS y Vite es una app para veterinarios que permite gestionar citas de manera eficiente. Permite programar citas, gestionar clientes y mascotas, y enviar recordatorios automáticos. Además, cumple con buenas prácticas, asegurando escalabilidad y fácil mantenimiento.El gestor de citas veterinarias en React con Tailwind CSS y Vite es una app para veterinarios que permite gestionar citas de manera eficiente. Permite programar citas, gestionar clientes y mascotas, y enviar recordatorios automáticos. Además, cumple con buenas prácticas, asegurando escalabilidad y fácil mantenimiento.",
    link: "https://gestordecitas-react.netlify.app/",
    github: "https://github.com/XFelipe41/GestorDeCitas_React",
    image: "/Proyectos/Veterinaria.png",
    tags: [TAGS.REACT, TAGS.JavaSCRIPT, TAGS.TAILWIND],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
